@page "/"
@layout Layout.PublicLayout

<PageTitle>DR User Panel</PageTitle>

<div class="container py-5" id="home-page">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="text-center">
                <p class="text-muted mb-3">Redirecting...</p>
                <a href="/account/login" class="btn btn-outline-primary">Continue</a>
            </div>
        </div>
    </div>
</div>
